@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 38 100% 98%;
    --foreground: 340 5% 30%;
    --card: 38 100% 98%;
    --card-foreground: 340 5% 30%;
    --popover: 38 100% 98%;
    --popover-foreground: 340 5% 30%;
    --primary: 340 82% 69%;
    --primary-foreground: 340 5% 98%;
    --secondary: 340 20% 92%;
    --secondary-foreground: 340 5% 30%;
    --muted: 340 20% 95%;
    --muted-foreground: 340 5% 50%;
    --accent: 340 5% 30%;
    --accent-foreground: 38 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 340 10% 88%;
    --input: 340 10% 90%;
    --ring: 340 82% 69%;
    --chart-1: 340 82% 69%;
    --chart-2: 340 5% 30%;
    --chart-3: 340 70% 75%;
    --chart-4: 340 15% 40%;
    --chart-5: 340 60% 85%;
    --radius: 0.5rem;
    --sidebar-background: 340 10% 15%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 340 82% 69%;
    --sidebar-primary-foreground: 340 10% 15%;
    --sidebar-accent: 340 10% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 340 10% 25%;
    --sidebar-ring: 340 82% 69%;
  }
  .dark {
    --background: 340 10% 10%;
    --foreground: 38 100% 98%;
    --card: 340 10% 10%;
    --card-foreground: 38 100% 98%;
    --popover: 340 10% 10%;
    --popover-foreground: 38 100% 98%;
    --primary: 340 82% 69%;
    --primary-foreground: 340 10% 10%;
    --secondary: 340 10% 20%;
    --secondary-foreground: 38 100% 98%;
    --muted: 340 10% 20%;
    --muted-foreground: 38 43% 85%;
    --accent: 38 100% 98%;
    --accent-foreground: 340 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 340 10% 25%;
    --input: 340 10% 25%;
    --ring: 340 82% 69%;
    --chart-1: 340 82% 69%;
    --chart-2: 38 100% 98%;
    --chart-3: 340 70% 75%;
    --chart-4: 38 30% 80%;
    --chart-5: 340 60% 85%;
    --sidebar-background: 340 10% 15%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 340 82% 69%;
    --sidebar-primary-foreground: 340 10% 15%;
    --sidebar-accent: 340 10% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 340 10% 25%;
    --sidebar-ring: 340 82% 69%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
